<% @articles.each do |article| %>
  <article class="article">
    <span class="article-readTime"><%= article.reading_time %> minutos</span>
    <a href="#0" class="article-category"><%= article.category.name.titleize %></a>
    <a href="/article?id=<%= article.id %>" class="article-link" target="_blank">
      <figure class="article-image">
        <%= image_tag article.image %>
      </figure>
      <div class="fb-share-button" data-href="https://amazify.co/article?id=<%= article.id %>" data-layout="button"></div>
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=%22<%= truncate(article.title, length: 30) %>%22&via=AmazifyCo&url=https%3A%2F%2Famazify.co%2Farticle%3Fid%3D<%= article.id %>">Tweet</a>
      <h3 class="article-title"><%= truncate(article.title, length: 90) %></h3>
    </a>
  </article>
<% end %>
