<!-- header of home-->
<a id="btn_user" class="hidden">Hola</a>
<main class="main" id="main">
  <h1 class="title-main">We share content and ideas that matter</h1>
</main>
<!-- header of home-->
<section class="container">
  <div class="podcasts" id="podcasts">
    <h2 class="title-section"><br><%= @category&.name&.titleize || 'The best we got yet' %>:</h2>
    <div class="articles-container">
      <%= show_podcast %>
    </div>
    <%= link_to_next_page(@articles, 'Seguir Leyendo', remote: true, id: "load_more_link", class: 'btn btn--primary btn--loadmore', "data-turbolinks-track": false ) %>
  </div>

  <div class="categories">
    <h2 class="categories-title">Categories:</h2>
    <% if @slug %>
      <div class="filter-container">
        <%= link_to "Clear filter", root_path, class: "btn btn--secondary", id: "clear-filter", 'data-turbolinks' => false %>
      </div>
    <% end %>
    <div class="categories-container">
      <% @categories.each do |category| %>
        <%= link_to category.name.titleize, pages_categories_path(slug: category.slug), class: "category", id: "#{category.slug}", 'data-turbolinks' => false %>
      <% end %>
    </div>
  </div>

  <div class="articles" id="article">
    <h2 class="title-section"><br><%= @category&.name&.titleize || 'Recomendaciones de hoy' %>:</h2>
    <div class="articles-container">
      <%= render 'articles' %>
    </div>
    <%= link_to_next_page(@articles, 'Seguir Leyendo', remote: true, id: "load_more_link", class: 'btn btn--primary btn--loadmore', "data-turbolinks-track": false ) %>
  </div>
</section>
<!-- request of home -->
<article class="login-request">
  <p>Regístrate para mandarte los mejores artículos de acuerdo a tus intereses :)</p>
  <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email" data-auto-logout-link="true" onlogin="checkLoginState();"></div>
  <br>
</article>

<div id="user_data" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>¡Hola <span></span>!</h2>
    </div>
    <div class="modal-body">
      <p>En este momento puedes editar tu información para que recibas de la mejor forma todas nuestras sorpresas :)</p>
      <input id="facebook" type="hidden"/>
      <p data-form="name">Tu nombre:</p>
      <input id="name" type="text" required data-form="name"/>
      <label><em id="lb_name">Debes agregar tu nombre :)</em></label>
      <p data-form="email">Tu email:</p>
      <input id="email" type="email" required data-form="email"/>
      <label><em id="lb_email">Debes agregar un email válido :)</em></label>
      <button id="update_data" type="button" class="button">Actualizar datos</button>
    </div>
    <div class="modal-footer">
      <h2>Recibe en tu correo contenido seleccionado<br>de la plataforma semanalmente.</h2>
      <a id="user_subscribe" class="btn btn--secondary">Subscríbete</a>
    </div>
  </div>
</div>
<script src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
  $('#<%= @slug %>').addClass('active');
  $(document).on('turbolinks:load', function() {
    $('.category').scrollPosReaload();
  });
</script>
