<header class="mainHeader">
  <a href="/" class="header-logo">
    <%= image_tag 'logo-white.svg' %>
  </a>
</header>

<main class="main">
  <h1 class="title-main">La mejor plataforma con contenido  de <span>emprendedores para emprendedores</span></h1>
  <a href="#footer" class="btn btn--secondary">Suscríbete</a>
</main>

<section class="container">
  <div class="categories">
    <h2 class="categories-title">Categorías:</h2>
    <div class="categories-container">
      <% @categories.each do |category| %>
        <%= link_to category.name.titleize, pages_categories_path(slug: category.slug), class: "category", id: "#{category.slug}" %>
      <% end %>
    </div>
  </div>

  <div class="articles">
    <h2 class="articles-title">Recomendaciones de hoy:</h2>
    <div class="articles-container">
      <%= render 'articles' %>
    </div>
    <%= link_to_next_page(@articles, 'Seguir Leyendo', remote: true, id: "load_more_link", class: 'btn btn--primary btn--loadmore') %>
  </div>
</section>

<footer class="footer" id="footer">
  <div class="newsletter">
    <h4 class="title title--footer">¡Suscríbete!</h4>
    <p class="subtitle subtitle--footer">Recibe en tu correo contenido seleccionado <span>de la plataforma semanalmente.</span></p>

    <form action="//disruptiveangels.us12.list-manage.com/subscribe/post?u=aa8d10d2414ce7773877e2c27&amp;id=771ca21c99" class="subscribe-form" method="post" target="_blank">
      <div class="newsletter-inputs">
        <input type="email" class="email" placeholder="CORREO ELECTRÓNICO" name="EMAIL" value="" required="">
        <input type="submit" value="Enviar" name="subscribe" class="button">
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa8d10d2414ce7773877e2c27_771ca21c99" tabindex="-1" value=""></div>
    </form>
  </div>
  <div class="copyrights">
    <div class="socialmedia">
      <a href="https://www.facebook.com/amazify.co/" class="social-link" target="_blank">
        <%= image_tag 'icon-facebook.svg', alt: 'Facebook' %>
      </a>
      <!-- <a href="#0" class="social-link" target="_blank">
        <%= image_tag 'icon-twitter.svg', alt: 'Twitter' %>
      </a> -->
      <!-- <a href="#" class="social-link" target="_blank">
        <%= image_tag 'icon-instagram.svg', alt: 'Instagram' %>
      </a> -->
    </div>

    <p>Amazify.co - Todos los derechos reservados, 2017</p>

    <a href="http://nochesdepitcheo.com/" class="powered-by">
      <%= image_tag 'powered-by.svg', alt: 'Powered by Noches de Pitcheo' %>
    </a>
  </div>
</footer>
<script type="text/javascript">
  $('#<%=@id%>').addClass('active');

  <% if(@id!=nil) %>

    <% end %>

</script>
