<!-- header of home-->
<header class="mainHeader">
  <a href="/" class="header-logo">
    <%= image_tag 'logo-white.svg' %>
  </a>
</header>
<main class="main" id="main">
  <h1 class="title-main">La mejor plataforma con contenido  de <span>emprendedores para emprendedores</span></h1>
  <a href="#socialmedia" class="btn btn--secondary">Subscríbete</a>
</main>
<!-- header of home-->
<section class="container">
  <div class="categories">
    <h2 class="categories-title">Categorías:</h2>
    <div class="categories-container">
      <% @categories.each do |category| %>
        <%= link_to category.name.titleize, pages_categories_path(slug: category.slug), class: "category", id: "#{category.slug}" %>
      <% end %>
    </div>
  </div>

  <div class="articles" id="article">
    <h2 class="articles-title"><%= @slug&.capitalize || 'Recomendaciones de hoy:' %>:</h2>
    <div class="articles-container">
      <%= render 'articles' %>
    </div>
    <%= link_to_next_page(@articles, 'Seguir Leyendo', remote: true, id: "load_more_link", class: 'btn btn--primary btn--loadmore') %>
  </div>
</section>
<!-- footer of home-->
<footer class="footer">
  <div class="newsletter">
    <h4 class="title title--footer">Subscríbete!</h4>
    <p class="subtitle subtitle--footer">Recibe en tu correo contenido seleccionado <span>de la plataforma semanalmente.</span></p>

    <form action="//amazify.us16.list-manage.com/subscribe/post?u=13e0ab6b94dd4ac8875f1aa3e&amp;id=4f909e1ca6" class="subscribe-form" method="post" target="_blank">
      <div class="newsletter-inputs">
        <input type="email" class="email" placeholder="CORREO ELECTRÓNICO" name="EMAIL" value="" required="">
        <input type="submit" value="Enviar" name="subscribe" class="button">
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa8d10d2414ce7773877e2c27_771ca21c99" tabindex="-1" value=""></div>
    </form>
  </div>
  <div class="copyrights">
    <div class="socialmedia" id="socialmedia">
      <a href="https://www.facebook.com/amazify.co/" class="social-link" target="_blank">
        <%= image_tag 'icon-facebook.svg', alt: 'Facebook' %>
      </a>
      <!-- <a href="#0" class="social-link" target="_blank">
        <%= image_tag 'icon-twitter.svg', alt: 'Twitter' %>
      </a> -->
      <!-- <a href="#" class="social-link" target="_blank">
        <%= image_tag 'icon-instagram.svg', alt: 'Instagram' %>
      </a> -->
    </div>

    <p>Amazify.co - Todos los derechos reservados, 2017</p>

    <a href="http://nochesdepitcheo.com/" class="powered-by">
      <%= image_tag 'powered-by.svg', alt: 'Powered by Noches de Pitcheo' %>
    </a>
  </div>
</footer>

<script type="text/javascript">
  $('#<%= @slug %>').addClass('active');
  $(document).on('turbolinks:load', function() {
    $('.category').scrollPosReaload();
  });
</script>
