<div class="article-background" style="background-image: url('<%= @podcast.image %>')">
	<q class="quote quote-podcast">"We share content and ideas that matter, We share content and ideas that matter, We share content"</q>
</div>

<main class="article-container">
		<div class="article-nav">
			<a class="article-navLink" href="#">
				<svg class="arrow-left" width="16px" height="28px" viewBox="0 0 16 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <title>Path 2</title>
				    <defs></defs>
				    <g id="Propuesta---blogpost" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-218.000000, -546.000000)" stroke-linecap="round" stroke-linejoin="round">
				        <g id="Group-4" transform="translate(220.000000, 548.000000)" stroke="#E9B54C" stroke-width="4">
				            <polyline id="Path-2" points="11.9015924 23.9015924 0 12 12 0"></polyline>
				        </g>
				    </g>
				</svg>Prev
			</a>

			<a class="article-navLink" href="#">Next
				<svg class="arrow-right" width="16px" height="28px" viewBox="0 0 16 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <title>Path 2</title>
				    <defs></defs>
				    <g id="Propuesta---blogpost" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1207.000000, -546.000000)" stroke-linecap="round" stroke-linejoin="round">
				        <g id="Group-3" transform="translate(1100.000000, 548.000000)" stroke="#E9B54C" stroke-width="4">
				            <polyline id="Path-2" transform="translate(115.000000, 12.000000) scale(-1, 1) translate(-115.000000, -12.000000) " points="120.901592 24 109 12.0494064 121 0"></polyline>
				        </g>
				    </g>
				</svg>
			</a>
		</div>

		<article class="article-content">

			<h1 class="title-section"><%= @podcast.title %></h1>

			<div class="article-data">
				<% @guests.each {|guest|
		      guest_info = guest.split "." %>
		    	<p class="article-guest"><%= guest_info[0] %></p>

					<p class="article-company"><%= guest_info[1] %></p>
		    <% } %>

				<p class="article-date"><%= @podcast.published %></p>
			</div>

			<iframe class="article-podcast" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%= @podcast.audio_link %>&amp;color=%236377b8&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true&amp;show_teaser=true"></iframe>

			<p class="article-text">
				<%= @podcast.text %>
			</p>

			<div class="articleNav-sidebar">
				<ul>
					<li>
						<p>Share</p>
					</li>

					<li>
						<button class="btn-share" type="button" name="button">
							<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <title>Facebook-color</title>
							    <defs></defs>
							    <g id="Propuesta---blogpost" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1085.000000, -828.000000)">
							        <g id="Group-2" transform="translate(319.000000, 598.000000)" fill="#4460A0">
							            <g id="share" transform="translate(758.000000, 196.000000)">
							                <path d="M24.023972,64 L9.6557697,64 C8.74104541,64 8,63.2584947 8,62.3441267 L8,35.6557569 C8,34.7411561 8.74116182,34 9.6557697,34 L36.3443467,34 C37.2587218,34 38,34.7411561 38,35.6557569 L38,62.3441267 C38,63.2586111 37.2586054,64 36.3443467,64 L28.6995658,64 L28.6995658,52.3823467 L32.5990757,52.3823467 L33.182972,47.854741 L28.6995658,47.854741 L28.6995658,44.9641509 C28.6995658,43.6533046 29.0635697,42.7600061 30.943306,42.7600061 L33.3408196,42.7589584 L33.3408196,38.7094316 C32.9261787,38.6542552 31.5029897,38.5309814 29.84722,38.5309814 C26.3905214,38.5309814 24.023972,40.6409539 24.023972,44.5157555 L24.023972,47.854741 L20.1144511,47.854741 L20.1144511,52.3823467 L24.023972,52.3823467 L24.023972,64 L24.023972,64 Z" id="Facebook"></path>
							            </g>
							        </g>
							    </g>
							</svg>
						</button>
					</li>

					<li>
						<button class="btn-share" type="button" name="button">
							<svg width="30px" height="25px" viewBox="0 0 30 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <title>Twitter-color</title>
							    <defs></defs>
							    <g id="Propuesta---blogpost" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1085.000000, -890.000000)">
							        <g id="Group-2" transform="translate(319.000000, 598.000000)" fill="#00AAEC">
							            <g id="share" transform="translate(758.000000, 196.000000)">
							                <path d="M38,98.9595522 C36.8976933,99.4615385 35.7108646,99.8010112 34.4659271,99.9526905 C35.7372777,99.1726255 36.7128015,97.9357169 37.1723895,96.4622607 C35.9820391,97.1845432 34.6666667,97.7100036 33.2614897,97.9916938 C32.1415742,96.7656194 30.5409403,96 28.7695017,96 C25.3727769,96 22.61701,98.8259299 22.61701,102.310943 C22.61701,102.805706 22.6698362,103.286024 22.7754886,103.748285 C17.6601514,103.484651 13.1259024,100.97472 10.0883958,97.1520404 C9.55837295,98.0873962 9.25550273,99.1726255 9.25550273,100.328277 C9.25550273,102.516793 10.3419616,104.448899 11.9936609,105.581076 C10.9864413,105.550379 10.0355696,105.263272 9.2044374,104.793788 L9.2044374,104.871434 C9.2044374,107.9303 11.3262898,110.481762 14.1436873,111.059588 C13.6277514,111.207656 13.0836415,111.28169 12.5219229,111.28169 C12.1257264,111.28169 11.7383342,111.24377 11.3632682,111.169736 C12.1468568,113.676056 14.4183835,115.501625 17.1125198,115.550379 C15.0065152,117.244131 12.3511182,118.253521 9.46856841,118.253521 C8.97200211,118.253521 8.48071844,118.22463 8,118.166847 C10.7240711,119.954496 13.9605564,121 17.4347596,121 C28.7571756,121 34.9466455,111.384615 34.9466455,103.044059 C34.9466455,102.769592 34.9413629,102.495125 34.9307977,102.226074 C36.1334742,101.335861 37.1776721,100.225352 38,98.9595522" id="Twitter"></path>
							            </g>
							        </g>
							    </g>
							</svg>
						</button>
					</li>
				</ul>
			</div>
		</article>

</main>
<section class="container">
	<div class="podcast">
		<div class="navigator"></div>
		<h1><%= @podcast.title %></h1>
		<% @guests.each {|guest|
      guest_info = guest.split "." %>
      <h3 class="guest-name"><span><%= guest_info[0] %></span><br><%= guest_info[1] %></h3>
    <% } %>
		<p><%= @podcast.published %></p>
		<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%= @podcast.audio_link %>&amp;color=%236377b8&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true&amp;show_teaser=true"></iframe>
		<p><%= @podcast.text %></p>
	</div>
</section>
